#left{
 display: block-inline;
 position: absolute;
 background-color: white;
 width: 30%;
 height: 100%;
 padding-top: 20%;
}

#right{
 float: right;
 display: block;
 background-color: black;
 padding-top: 20px;
 width: 60%;
 height: 100%;
 font-family: impact;
 color: white;
}


#harlock{
  height:100%;
 position: fixed ;
 top: 2em;
 left: -13em;

 }
header{
 background-color: black;
 height: 50px;
}

body {
 background-color: black;

}
main {
 background-color: white;
 width: 500px;
 height: 100%;
 margin: 0 auto;

}
#wrapper{
  height: 100%;
}
h2{
  text-align:center;
}
h4{
  text-align:center;
  padding: 0px;
}
p {
  text-align:center;
  line-height:1.5;
}
ol li{

  margin:5px;
}
ol{
  line-height:1.5;
  margin-left: 35px;
}
/* following adopted from http://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu */
nav{
  float: right;
 display: block;
 background-color: black;
 width: 69.7%;
 height: 100%;
 font-family: impact;
 color: white;
}
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333333;
}

nav li {
   float: left;
}

nav li a {
   display: block;
   color: white;
   text-align: center;
   padding: 16px;
   text-decoration: none;
}

nav li a:hover {
   background-color: #111111;
}

/* the format of the followsig <a> selector is borrowed from csszengarden demo,
having used these selectors with familiarity in the past*/0

a:link {
 font-weight: bold;
 text-decoration: none;
 color: #B7A5DF;
 }
a:visited {
 font-weight: bold;
 text-decoration: none;
 color: #D4CDDC;
 }
a:hover, a:focus, a:active {
 text-decoration: underline;
 color: #9685BA;
 }
